body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  color: rgb(51, 53, 53);
}

.ais-SearchBox-input {
  min-width: 580px;
  width: 100%;
  padding: 11px 26px 13px;
  border: none;
  height: auto;
  font-size: 30px;
  color: rgb(51, 53, 53);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ais-SearchBox-form {
  display: flex;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 3px 10px 0 rgba(33, 36, 61, 0.1);
}

.ais-SearchBox-submitIcon {
  float: right;
  fill: rgb(51, 53, 53);
}

.ais-Stats {
  margin: 10px 10px;
}

.ais-Hits-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
}

.ais-Hits-item {
  color: rgb(51, 53, 53);
  font-size: 13px;
  box-shadow: 0 3px 10px 0 rgba(33, 36, 61, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
